@font-face {
  font-family: "Havana-Regular";
  src: url("/fonts/Havana-Regular.woff") format('woff');
}

@font-face {
  font-family: "Apropal-Bold";
  src: url("/fonts/Apropal-Bold.woff") format('woff');
}

