---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <span class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.categories contains 'spotkania' %}
    <ul class="meeting-info">
      {% if page.meeting_date %}
        <li>Data: <em>{{ page.meeting_date | date: "%Y-%m-%d" }}</em></li>
      {% else %}
        <li>Data: <em>{{ page.date | date: "%Y-%m-%d" }}</em></li>
      {% endif %}

      {% if page.speaker %}
        <li>Prelegent: <em>{{ page.speaker | join: ', ' }}</em></li>
      {% endif %}

      {% if page.level %}
        <li>Poziom: <em>{{ page.level }}</em></li>
      {% endif %}

      {% if page.materials %}
        <li><em><a href="{{ page.materials }}">Materiały</a></em></li>
      {% endif %}
    </ul>
    {% endif %}

    {{ content }}
  </div>

</article>
